# -----------------------------
# Python cache / compiled files
# -----------------------------
__pycache__/
*.py[cod]
*$py.class

# -----------------------------
# Virtual environments
# -----------------------------
.env
.venv/
venv/
env/

# -----------------------------
# Jupyter
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# IDE / editor files
# -----------------------------
.idea/
.vscode/

# -----------------------------
# Operating system files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Logs / temporary files
# -----------------------------
*.log
*.tmp
*.temp

#log hyper
logs_hyper/
# -----------------------------
# Large geometry / mesh files
# -----------------------------
*.stl
*.ply

# -----------------------------
# Generated documents / figures
# -----------------------------
results/*.pdf
results/*.png
results/*.svg
